.main {
    background-color: rgb(177, 177, 72);
    padding: 20px;
    width: 29%;
    margin: auto;
    text-align: center;

}

.conatiner {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 5px;
    column-gap: 5px;
}

.row {
    width: 40px;
    height: 40px;
    background-color: rgb(199, 199, 199);
    text-align: center;
    line-height: 40px;
}

textarea {
    text-align: right;

}

.row-number {
    background-color: white;
}