.main {
    background-color: rgb(177, 177, 72);
    padding: 20px;
    width: 100%;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 8px;
}

.conatiner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.row, .row-number {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    user-select: none;
}

.row {
    background-color: rgb(199, 199, 199);
}

.row-number {
    background-color: white;
}

textarea {
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.6rem;
    resize: none;
    margin-bottom: 10px;
    border: none;
    padding: 8px;
    border-radius: 4px;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .main {
    max-width: 340px;
    padding: 25px;
  }

  .row, .row-number {
    height: 60px;
    font-size: 1.3rem;
  }

  textarea {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .main {
    max-width: 360px;
  }
}

@media screen and (min-width: 1441px) {
  .main {
    max-width: 400px;
    padding: 30px;
  }

  textarea {
    height: 70px;
    font-size: 2.2rem;
  }

  .row, .row-number {
    height: 65px;
    font-size: 1.4rem;
  }
}